.footer {
  position: relative;

  &::before {
    content: "";
    left: 0;
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #D0D0D0;
    bottom: 20%;

    @media screen and (max-width: 768px) {
      bottom: 25%;
    }
  }

  &__info {
    grid-column: 2/12;
    @include adaptiveValue(margin-bottom, 130, 60, 1920, 360, 1);

    @media screen and (max-width: 576px) {
      grid-column: 1/13;
    }
  }

  &__title {
    display: inline-grid;
    row-gap: 25px;
    @include adaptiveValue(margin-bottom, 37, 34, 1200, 360, 1);

    @media screen and (max-width: 768px) {
      @include adaptiveValue(font-size, 44, 29, 768, 360, 1);
      br {
        display: none;
      }
    }

    @media screen and (max-width: 576px) {
      row-gap: 10px;
    }
  }

  &__social {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-bottom: 44px;
    transition: background-color var(--transition-duration) ease;

    path {
      transition: fill var(--transition-duration) ease;
    }

    @media (any-hover: hover) {
     &:hover {
      background-color: var(--primary-color);

      path {
        fill: var(--white-color);
      }
     }
    }

  }

  &__socials {
    gap: 20px;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__social--primary {
    width: 157px;
    height: 157px;

    @media (any-hover: hover) {
     &:hover {
      background-color: var(--white-color);
      border: 2px solid var(--primary-color);

      path {
        fill: var(--primary-color);
       }
     }


    }

  }

  &__social--secondary {
    border: 2px solid var(--primary-color);
    height: 90px;
    flex: 0 0 90px;
  }

  &__actions {
    grid-row: 2/3;
    grid-column: 1/13;
    @include adaptiveValue(padding-top, 80, 63, 1200, 768, 1);
    @include adaptiveValue(padding-bottom, 80, 47, 1200, 768, 1);

    @media screen and (max-width: 768px) {
      justify-content: center;
      flex-direction: column-reverse;
      @include adaptiveValue(row-gap, 68, 44, 768, 360, 1);
    }
  }

  &__list {
    gap: 20px;
    width: 100%;
    max-width: 304px;

    @media screen and (max-width: 576px) {
      max-width: 250px;
    }
  }

  &__link {
    @include adaptiveValue(font-size, 20, 16, 1920, 360, 1);

    &::before {
      background-color: var(--primary-color);
    }
  }

  &__link--terms {
    color: var(--primary-color-40);

    &::before {
      background-color: var(--primary-color-40);
    }
  }
}
