.trial {
  min-height: 528px;

  @media screen and (max-width: 992px) {
    background-position-x: 60%;
    min-height: 435px;
  }

  .container {
    height: 100%;
    min-height: inherit;
  }

  &__inner{
    height: 100%;
    min-height: inherit;
    align-items: center;
    background-image: url('../img/trial-bg.jpg');
    padding: 20px 30px;

    @media screen and (max-width: 1400px) {
      background-position-x: 40%;
    }

    @media screen and (max-width: 992px) {
      background-position-x: 60%;
      justify-items: center;

    }

    @media screen and (max-width: 767px) {
      background-position-x: 80%;
    }
  }

  &__btn {
    flex: 0 0 262px;

    @media screen and (max-width: 1400px) {
      flex: unset;
    }
  }

  &__info {
    grid-column: 7/12;
    @include adaptiveValue(gap, 30, 15, 1920, 992, 1);
    @media screen and (max-width: 992px) {
      grid-column: 6/12;
    }

    @media screen and (max-width: 767px) {
      grid-column: span 12;
    }
  }

  &__description {
    max-width: 510px;
    line-height: 1.3;
    @include adaptiveValue(font-size, 26, 20, 1200, 768, 1);
  }

  &__actions {
    gap: 25px;
    align-items: center;

    @media screen and (max-width: 1400px) {
      flex-direction: column-reverse;
      align-items: stretch;
    }
  }

  &__note {
    max-width: 336px;
    @include adaptiveValue(font-size, 26, 20, 1200, 768, 1);
    line-height: 1.2;

    @media screen and (max-width: 1400px) {
      max-width: 100%;
    }
  }
}
