<header class="header color-white">
  <div class="container">
    <div class="header__inner flex justify-between">
      <div class="header__logos flex align-items-center">
        <a href="#" class="header__logo">
          <img src="img/svg/logos/nabta.svg" alt="Nabta Logo" width="117" height="60">
        </a>
        <span>powered by</span>
        <a href="" class="header__logo">
          <img src="img/svg/logos/alesca.svg" alt="Alesca Logo" width="112" height="67">
        </a>
      </div>

        <nav class="menu" data-menu>
          <ul class="menu__list flex justify-between">
            <li class="menu__item">
              <a href="#" class="header__link primary-hover" data-scroll-to=".offer">
                Subscribe
              </a>
            </li>
            <li class="menu__item">
              <a href="#" class="header__link primary-hover" data-scroll-to=".about">
                About Alesca
              </a>
            </li>
          </ul>
        </nav>

      <button class="burger" aria-label="Open Menu" aria-expanded="false"  data-burger>
        <span class="burger__line"></span>
      </button>
    </div>
  </div>
</header>
