html {
  box-sizing: border-box;
  height: 100%;
}


*,
*::before,
*::after {
  box-sizing: inherit;
}

button {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
}

.page__body {
  padding: 0;
  margin: 0;
  min-width: 360px;
  height: 100%;
  @include adaptiveValue(font-size, 20, 16, 1920, 360, 1);
  font-weight: 500;
  line-height: 1;
  color: var(--primary-color);
  font-family: var(--font-family), Arial, Helvetica, sans-serif;
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: inherit;
}

.site-container {
  min-height: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr auto; // change to auto 1fr auto if header is not absolute
}

.is-hidden {
  display: none !important;
}

.input-reset {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  max-width: var(--container-width);
  padding: var(--container-paddings);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.ibg {
  position: relative;
}

.ibg .image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.global-wrapper {
  position: relative;
}


.locked {
  overflow: hidden;
}

.hidden {
  display: none;
}

.image-offset {
  padding-top: 15px;
  padding-left: 12px;
}
